.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidebar h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}


.content {
    margin-left: 250px;
    padding: 20px;
}
.formo{
    margin-left: 250px;
    padding: 20px;
}
form{
max-width: 500px;
margin: 0 auto;
display: flex;
justify-content: center;
flex-direction: column;
gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}
form .btn-enviar{
margin-top: 20px;
text-align: center;
}

form .btn-enviar input[type=submit]{
width: 120px;
background-color: green;
color: black;
font-weight: 700;
cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    color: black;
    border: 25px;
    text-align: center;
    border-radius: 5px;
}
body{
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
    
}
h2{
    font-size: 1.5rem;
    font-weight: 400; 
    color: #5e5e5e;  
    background-color: cornsilk;  
    margin: 0.5em 0;   
    line-height: 1.4;  
    text-align: center; 
    font-family: 'Arial', sans-serif; 
    text-transform: capitalize; 
}

h3{
    font-size: 1,5rem; 
    font-weight: 400;
    color: #ffffff;  
    line-height: 1.6;
    margin: 1em 0;  
    padding: 0.5em 0;
    font-family: 'Georgia', serif; 
    text-align: center; 
    text-indent: 1em; 
}
